body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-epilogue: Epilogue;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-smi: 13px;
  --font-size-base-7: 16.7px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #767676;
  --color-gray-200: #212121;
  --color-gray-300: #1a1a1a;
  --color-gray-400: #161616;
  --color-gray-500: #151515;
  --color-gainsboro: #e6e6e6;
  --color-purple-100: #733493;
  --color-purple-200: #713394;
  --color-black: #000;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f6f6f6;
  --color-whitesmoke-300: #f5f5f5;
  --color-violet: #d284fe;
  --color-dimgray-100: #727272;
  --color-dimgray-200: #707070;
  --color-dimgray-300: #6b6b6b;
  --color-dimgray-400: #4d4d4d;
  --color-dimgray-500: rgba(77, 77, 77, 0.09);
  --color-blue: #2400ff;
  --color-yellow: #e7fb05;
  --color-goldenrod: #ffc960;
  --color-darkslategray: #484848;
  --color-limegreen: #19b000;
  --color-mediumpurple-100: #9659ba;
  --color-mediumpurple-200: rgba(150, 89, 186, 0.09);
  --color-lime: #58ff09;
  --color-darkgray: #9c9c9c;

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-2xl: 21px;
  --gap-13xl: 32px;
  --gap-2xs: 11px;
  --gap-7xl: 26px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-6xl: 25px;
  --gap-lg: 18px;
  --gap-9xl: 28px;
  --gap-3xs: 10px;
  --gap-10xl: 29px;
  --gap-3xl: 22px;
  --gap-5xs: 8px;
  --gap-8xl: 27px;
  --gap-12xl: 31px;
  --gap-11xl: 30px;
  --gap-10xl-5: 29.5px;
  --gap-24xl: 43px;
  --gap-8xs: 5px;
  --gap-21xl-9: 40.9px;
  --gap-lgi: 19px;
  --gap-sm: 14px;
  --gap-smi: 13px;
  --gap-4xl: 23px;
  --gap-11xs-5: 1.5px;
  --gap-xs: 12px;
  --gap-xl-4: 20.4px;
  --gap-10xs: 3px;
  --gap-xs-8: 11.8px;
  --gap-mid-7: 17.7px;
  --gap-2xs-6: 10.6px;
  --gap-6xs-9: 6.9px;
  --gap-base-1: 15.1px;
  --gap-xl-5: 20.5px;
  --gap-lgi-5: 19.5px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-base: 16px;
  --padding-159xl: 178px;
  --padding-27xl: 46px;
  --padding-xl: 20px;
  --padding-73xl: 92px;
  --padding-70xl: 89px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-31xl: 50px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-6xs: 7px;
  --padding-7xl: 26px;
  --padding-56xl: 75px;
  --padding-8xs: 5px;
  --padding-26xl: 45px;
  --padding-32xl: 51px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-17xl-5: 36.5px;
  --padding-10xl: 29px;
  --padding-2xl: 21px;
  --padding-76xl: 95px;
  --padding-43xl: 62px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-66xl: 85px;
  --padding-36xl: 55px;
  --padding-15xl: 34px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-11xs: 2px;
  --padding-23xl: 42px;
  --padding-4xl: 23px;
  --padding-17xl: 36px;
  --padding-61xl: 80px;
  --padding-3xl: 22px;
  --padding-21xl: 40px;
  --padding-9xs: 4px;
  --padding-3xs-6: 9.6px;
  --padding-xs: 12px;
  --padding-12xs-5: 0.5px;
  --padding-3xl-3: 22.3px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-8xl: 27px;
  --padding-25xl: 44px;
  --padding-48xl: 67px;
  --padding-112xl: 131px;
  --padding-62xl: 81px;
  --padding-34xl: 53px;
  --padding-12xs-6: 0.6px;
  --padding-3xl-4: 22.4px;
  --padding-3xl-2: 22.2px;
  --padding-41xl: 60px;
  --padding-mid: 17px;
  --padding-4xs: 9px;
  --padding-9xs-1: 3.1px;
  --padding-lg: 18px;
  --padding-49xl: 68px;
  --padding-71xl: 90px;
  --padding-6xs-5: 6.5px;
  --padding-base-5: 16.5px;
  --padding-11xs-5: 1.5px;
  --padding-3xs-5: 9.5px;
  --padding-lgi: 19px;
  --padding-6xl-5: 25.5px;
  --padding-6xs-9: 6.9px;
  --padding-8xs-1: 4.1px;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-6xl: 25px;
  --br-15xl: 34px;
  --br-27xl: 46px;
  --br-744xl-5: 763.5px;
  --br-9xs-5: 3.5px;
  --br-2xl-5: 21.5px;
  --br-5xs: 8px;
  --br-6xs-4: 6.4px;
  --br-sm-6: 13.6px;
  --br-7xl: 26px;
  --br-4xs-7: 8.7px;
  --br-4xl: 23px;
  --br-mini: 15px;
  --br-6xs: 7px;
  --br-8xs: 5px;
  --br-81xl: 100px;
  --br-4xl-3: 23.3px;
  --br-12xs: 1px;
  --br-19xl: 38px;
  --br-7xs: 6px;
  --br-9xl: 28px;
  --br-4xs: 9px;
}
